h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

h3 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  list-style: none;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: "Alegreya Sans", sans-serif;
  max-width: 100vw;
  margin: 0 auto;
}

.section {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section {
    min-height: 100vh;
  }
}
@media (max-width: 480px) {
  .section {
    min-height: 100vh;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  max-height: 100%;
  max-width: 940px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  max-width: 1100px;
  margin: 0 auto;
}

.overlayButton {
  background-color: rgb(97, 196, 217);
  border-width: 0;
}

.overlay {
  position: fixed;
  visibility: hidden;
  background: #333537;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  width: 95vw;
  height: 98vh;
}

.nav__list__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 0 20px;
  font-size: 36px;
  line-height: 72px;
  font-weight: 100;
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.overlayClose {
  top: 42px;
  right: 42px;
  position: fixed;
  background-color: transparent;
  border-width: 0px;
  border-color: #fff;
}

.close__cross {
  width: 26px;
  height: 24px;
  display: none;
}
@media (max-width: 768px) {
  .close__cross {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  .close__cross {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cross__wrapper {
  top: 42px;
  right: 42px;
}

.hero {
  background-color: rgb(97, 196, 217);
  padding-left: 5rem;
  margin: 0 auto;
  position: relative;
  height: 650px;
}
@media (max-width: 768px) {
  .hero {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .hero {
    padding-left: 0;
  }
}

.container {
  height: 100%;
}

.hero__content {
  padding-top: 5.25rem;
  max-width: 38%;
  color: #FFF;
  text-align: start;
  z-index: 555;
}
@media (max-width: 768px) {
  .hero__content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 90%;
    padding-top: 482px;
  }
}
@media (max-width: 480px) {
  .hero__content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 90%;
  }
}

.hero__title {
  padding-bottom: 1.0625rem;
  margin: 0 0;
  line-height: 3rem;
}
@media (max-width: 768px) {
  .hero__title {
    max-width: 41.5625rem;
    font-size: 48px;
    max-height: 7.25rem;
    padding-bottom: 1rem;
    line-height: 2.75rem;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 36px;
    margin: 0 auto;
    line-height: 40px;
  }
}

.hero__text {
  padding-bottom: 2rem;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media (max-width: 768px) {
  .hero__text {
    max-width: 23.1875rem;
    font-size: 21px;
    max-height: 3.1875rem;
    margin: 0 auto;
  }
}

.hero__button {
  padding-bottom: 4rem;
  max-width: 9.75rem;
}
@media (max-width: 768px) {
  .hero__button {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .hero__button {
    margin: 0 auto;
  }
}

.hero__chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
@media (max-width: 768px) {
  .hero__chars {
    display: none;
  }
}
@media (max-width: 480px) {
  .hero__chars {
    display: none;
  }
}

.chars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10.375rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chars__text {
  max-width: 6.25rem;
  color: #fff;
}

.hero__complete {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .hero__complete {
    width: 21.75rem;
    height: 21.75rem;
  }
}
@media (max-width: 480px) {
  .hero__complete {
    max-width: 21.5rem;
    max-height: 21.75rem;
  }
}

.hero__completepicture {
  position: absolute;
  right: -1.25rem;
  bottom: 11.3125rem;
  z-index: 2;
  max-width: 54%;
  max-height: 62%;
}
@media (max-width: 768px) {
  .hero__completepicture {
    right: 17.1875rem;
    bottom: 20rem;
    max-width: 37%;
    max-height: 38%;
  }
}
@media (max-width: 480px) {
  .hero__completepicture {
    right: 2.1875rem;
    bottom: 21.625rem;
    max-width: 90%;
    max-height: 90%;
  }
}

.hero__tribe {
  max-width: 46.54%;
  max-height: 100%;
  position: absolute;
  right: -2.5rem;
  bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .hero__tribe {
    right: -6.25rem;
    bottom: 12.5rem;
    max-width: 72.5%;
    max-height: 73%;
  }
}
@media (max-width: 480px) {
  .hero__tribe {
    right: -1.25rem;
    bottom: 22.875rem;
    max-width: 21.5rem;
    max-height: 21.75rem;
    height: 100%;
    width: 100%;
  }
}

.hero__tribeleaf {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {
  .hero__tribeleaf {
    right: -1.25rem;
    bottom: 12.5rem;
    max-width: 80%;
    max-height: 100%;
  }
}
@media (max-width: 480px) {
  .hero__tribeleaf {
    right: -1.25rem;
    bottom: 22.875rem;
    max-width: 21.5rem;
    max-height: 21.75rem;
    height: 100%;
    width: 100%;
  }
}

.hero__leaf-img {
  position: absolute;
  left: -3.3125rem;
  bottom: -14.0625rem;
}
@media (max-width: 768px) {
  .hero__leaf-img {
    right: -1.25rem;
    bottom: -4.375rem;
    max-width: 21.5rem;
    max-height: 21.75rem;
  }
}
@media (max-width: 480px) {
  .hero__leaf-img {
    display: none;
  }
}

.header {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 58.875rem;
  max-height: 5.5rem;
  z-index: 5;
  padding-top: 0.625rem;
}
@media (max-width: 768px) {
  .header {
    padding-left: 0.625rem;
    min-width: 98%;
    min-height: 5.6875rem;
  }
}
@media (max-width: 480px) {
  .header {
    padding-left: 0.625rem;
    min-width: 98%;
  }
}

@media (max-width: 768px) {
  .hamburger__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  .hamburger__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
  }
}

.hamburger-icon {
  width: 26px;
  height: 24px;
  fill: #FFF;
  display: none;
}
@media (max-width: 768px) {
  .hamburger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 480px) {
  .hamburger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5625rem;
  z-index: 10;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__nav {
    display: none;
  }
}

.nav__item {
  min-width: 3rem;
  min-height: 1.25rem;
}

.width150 {
  min-width: 7.75rem;
}

.header__phone {
  max-width: 7.75rem;
  min-height: 2.4375rem;
  padding-top: 0.3125rem;
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__phone {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.nav__item {
  display: block;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.why {
  padding-top: 102px;
  margin: 0 auto;
  position: relative;
}

.why-left-side__tribe {
  position: absolute;
  left: 0;
  top: 10.875rem;
}
@media (max-width: 768px) {
  .why-left-side__tribe {
    top: 5.25rem;
  }
}

.why-left-side__rasp {
  position: absolute;
  left: 0;
  top: 31.25rem;
}
@media (max-width: 768px) {
  .why-left-side__rasp {
    top: 47.375rem;
  }
}

.why__content {
  max-width: 95%;
  color: #000;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .why__content {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .why__content {
    max-width: 100%;
  }
}

.why__title {
  padding-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__text {
  padding-bottom: 32px;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  max-width: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.why__explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .why__explain {
    gap: 0 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 480px) {
  .why__explain {
    gap: 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.explain__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 276px;
  min-height: 276px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
@media (max-width: 768px) {
  .explain__item {
    min-width: 257px;
    min-height: 307px;
  }
}
@media (max-width: 480px) {
  .explain__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 100%;
    min-height: 126px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.explain__item:nth-child(n)::after {
  content: url(../img/features/feat_even.png);
  position: absolute;
  top: 55px;
  right: -60px;
}
@media (max-width: 768px) {
  .explain__item:nth-child(n)::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .explain__item:nth-child(n)::after {
    display: none;
  }
}

.explain__item:last-child::after {
  content: none;
}

.explain__title {
  padding-top: 32px;
}
@media (max-width: 480px) {
  .explain__title {
    padding-top: 0px;
  }
}

.explain-img__wrapper {
  min-width: 127px;
  min-height: 127px;
  border-radius: 50%;
  background-color: #f2f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .explain-img__wrapper {
    min-width: 128px;
    min-height: 128px;
  }
}

.explain__img {
  display: block;
  max-width: 100%;
}
@media (max-width: 480px) {
  .explain__img {
    width: 64px;
    height: 53px;
  }
}

.explain__text {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media (max-width: 480px) {
  .explain__text {
    max-width: 290px;
    max-height: 66px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .explain__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 290px;
    max-height: 66px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 18px;
  }
}

.button {
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: rgb(54, 90, 73);
  padding: 18px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  -webkit-transition: background-color 0.9s;
  transition: background-color 0.9s;
  text-transform: uppercase;
}

.button__reset {
  border-width: 0px;
  background-color: transparent;
  color: #2E4E3F;
  cursor: pointer;
}

.button:hover {
  background-color: #2E4E3F;
  color: #FFF;
  cursor: pointer;
}

.button--big {
  padding: 21px 41px;
}

.button--red {
  background-color: rgb(245, 23, 14);
  color: #fff;
}

.feedback {
  padding-top: 62px;
  margin: 0 auto;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  position: relative;
}

.feedback__circle {
  position: absolute;
  height: 83px;
  width: 83px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 25px;
  left: 45%;
  z-index: 1;
}
@media (max-width: 480px) {
  .feedback__circle {
    display: none;
  }
}

.feedback__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
  z-index: 2;
}
@media (max-width: 480px) {
  .feedback__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.feedback__card {
  background-color: #F8FAF9;
  padding: 42px 42px 42px 42px;
  max-width: 940px;
  max-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: start;
}
@media (max-width: 768px) {
  .feedback__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .feedback__card {
    padding: 10px 0 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 28.75rem;
    min-height: 26.125rem;
  }
}

.card__tribe {
  position: absolute;
  right: 0;
  top: 22px;
}
@media (max-width: 480px) {
  .card__tribe {
    right: 50px;
  }
}

.card-img__wrapper {
  max-width: 253px;
  max-height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .card-img__wrapper {
    width: 18%;
    height: 18%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .card-img__wrapper {
    z-index: 3;
    max-width: 130px;
    max-height: 130px;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {
  .card__image {
    display: none;
  }
}

.card__image__tab {
  display: none;
}
@media (max-width: 768px) {
  .card__image__tab {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (max-width: 480px) {
  .card__image__tab {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.card__content {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .card__content {
    max-height: 11rem;
    min-width: 88%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (max-width: 480px) {
  .card__content {
    padding: 0 0 0 0;
    max-width: 25.3125rem;
    max-height: 15.25rem;
  }
}

.card__title__tab {
  display: none;
}
@media (max-width: 768px) {
  .card__title__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card__text__tab {
  display: none;
}
@media (max-width: 768px) {
  .card__text__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card__title {
  padding-top: 28px;
}
@media (max-width: 768px) {
  .card__title {
    display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (max-width: 480px) {
  .card__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  padding-top: 12px;
  max-width: 463px;
}
@media (max-width: 768px) {
  .card__text {
    display: none;
  }
}

.card__name {
  padding-top: 25px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 768px) {
  .card__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.feedback__avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 6px;
  padding-top: 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avatar__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 74px;
  max-height: 74px;
  border-radius: 50%;
  border-width: 5px;
}

.avatar--active {
  border-color: rgb(54, 90, 73);
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
}
@media (max-width: 768px) {
  .avatar--active {
    border-color: white;
  }
}
@media (max-width: 480px) {
  .avatar--active {
    border-color: white;
  }
}

.avatar--active--tab {
  border-color: rgb(54, 90, 73);
}
@media (max-width: 768px) {
  .avatar--active--tab {
    border-color: rgb(54, 90, 73);
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
  }
}
@media (max-width: 480px) {
  .avatar--active--tab {
    border-color: rgb(54, 90, 73);
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
  }
}

.feedback-left-side__tribe {
  position: absolute;
  top: 510px;
  left: 0px;
}
@media (max-width: 480px) {
  .feedback-left-side__tribe {
    top: 632px;
  }
}

.feedback-left-side__berry {
  position: absolute;
  top: 510px;
  left: 0px;
  z-index: 1;
}
@media (max-width: 480px) {
  .feedback-left-side__berry {
    top: 632px;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.order {
  background: url(../img/form/bckgrnd.png);
  padding-top: 62px;
  padding-bottom: 62px;
}

.title {
  padding-bottom: 83px;
  color: rgb(73, 120, 112);
}

.form {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  width: 100%;
  border: none;
  margin: none;
}
@media (max-width: 768px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px 0;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .form {
    padding-left: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.two__pieces {
  max-width: 97.5%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  max-width: 99%;
  gap: 0 7px;
}
.form__row:last-child {
  padding-bottom: 0;
}

.four__pieces {
  max-width: 95%;
}
@media (max-width: 480px) {
  .four__pieces {
    max-width: 104px;
    max-height: 55px;
  }
}

.form__block {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 99%;
  text-align: left;
}
.form__block:last-child {
  padding-right: 0px;
}
@media (max-width: 480px) {
  .form__block {
    max-width: 99%;
  }
}

.form__input {
  width: 100%;
  min-height: 3.625rem;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-block: 0px;
  padding-inline: 5px;
  padding: 0px 0px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0px;
  text-indent: 5px;
  border-width: 3px;
  border-color: transparent;
}

.form__input:focus {
  border-width: 3px;
  border-color: #DEE2BD;
}

.form__left {
  max-width: 462px;
}

.form__block-title {
  color: rgb(73, 120, 112);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.form__right {
  min-width: 50%;
  text-align: start;
  max-width: 476px;
}
@media (max-width: 768px) {
  .form__right {
    max-width: 462px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-color: transparent;
    border-width: 0px;
  }
}
@media (max-width: 480px) {
  .form__right {
    max-width: 460px;
    min-width: 460px;
  }
}

.form__textarea-title {
  color: rgb(73, 120, 112);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.form__textarea {
  min-width: 445px;
  min-height: 150px;
  resize: none;
  outline: none;
  text-align: start;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-color: transparent;
  border-radius: 5px;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .form__textarea {
    min-width: 453px;
  }
}
@media (max-width: 480px) {
  .form__textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding: 0;
    min-width: 94% px;
    max-height: 160px;
    min-height: 0px;
  }
}

.form__textarea:focus {
  border-width: 3px;
  border-color: #DEE2BD;
}

.form__checkbox-wraper {
  margin-top: 50px;
}

.checkbox__padding {
  padding-top: 50px;
}

.radio__row {
  padding-top: 36px;
  color: rgb(73, 120, 112);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 22px;
}

.form__radio {
  padding-left: 5px;
}

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: 0.6s all linear;
  transition: 0.6s all linear;
  outline: none;
  background-color: #fff;
}

.radio__input:checked {
  border: 6px solid #fff;
  background-color: rgb(54, 90, 73);
}

.radio__label {
  padding-left: 5px;
}

.form__radio-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox-hide {
  display: none;
  background-color: #fff;
  color: rgb(54, 90, 73);
  opacity: 0;
}

.checkbox__label {
  cursor: pointer;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__checkbox-visible {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__checkbox-hide:checked ~ .form__checkbox-visible::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  margin: auto;
  width: 10px;
  height: 5px;
  border-radius: 0.0625rem;
  border-left: 0.25rem solid rgb(54, 90, 73);
  border-bottom: 0.25rem solid rgb(54, 90, 73);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form__checkbox-wrapper {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__container {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1100px;
  gap: 0 44px;
  padding-top: 50px;
  position: relative;
}
@media (max-width: 768px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-img__container {
  width: 34.0625rem;
  height: 29.375rem;
  padding-top: 6.125rem;
  padding-left: 1.625rem;
}
@media (max-width: 768px) {
  .product-img__container {
    max-width: 90%;
    max-height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
  }
}
@media (max-width: 768px) {
  .img__wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .product__img {
    max-width: 96.8%;
    max-height: 90%;
  }
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.composition__wrapper {
  fill: black;
  background: transparent;
  position: absolute;
  width: 6.25rem;
  height: 8.75rem;
}
@media (max-width: 768px) {
  .composition__wrapper {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 480px) {
  .composition__wrapper {
    visibility: hidden;
  }
}

.composition-icon {
  width: 5.6875rem;
  height: 5.6875rem;
  fill: black;
  background: #60AACC;
}

.slider__header {
  text-align: left;
  padding-top: 9.375rem;
}
@media (max-width: 768px) {
  .slider__header {
    padding-top: 0px;
  }
}

.slider__text {
  padding-top: 1.4375rem;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  max-width: 368px;
}

.slider-char__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  gap: 0 25px;
}

.slider__char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90px;
  max-height: 44px;
  text-align: left;
}

.bold {
  font-weight: 700;
  font-size: 16px;
}

.composition__list {
  position: absolute;
  background-color: none;
  left: 100px;
  z-index: 2;
  background-color: #60AACC;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-icon {
  width: 15.375rem;
  max-height: 2.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.composition__wrapper:hover {
  cursor: pointer;
}
.composition__wrapper:hover .composition__list {
  visibility: visible;
  opacity: 100%;
}

.slider__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__price {
  min-width: 9.25rem;
  font-size: 3.75rem;
  font-weight: 400;
  padding-right: 2.1875rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__slider {
  background-color: #2E4E3F;
  color: #fff;
  border-radius: 35px;
  text-decoration: none;
  text-underline-offset: none;
}

.arrow__wrapper {
  width: 30px;
  height: 40px;
}

.arrow__left {
  position: absolute;
  top: 50%;
}
@media (max-width: 768px) {
  .arrow__left {
    top: 35%;
  }
}

.arrow__right {
  position: absolute;
  top: 50%;
  left: 98%;
}
@media (max-width: 768px) {
  .arrow__right {
    top: 35%;
    left: 96%;
  }
}

.map__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
/*# sourceMappingURL=main.css.map */