

html,body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: 1100px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    width: 100%;
}