//colors
$blue: rgba(97, 196, 217, 1);
$graybckgrnd: #F8FAF9;
$greenborder:rgba(54, 90, 73, 1);
$greentext: rgba(73, 120, 112, 1);

//breakpoints
$tablets: 768px;
$phones: 480px;

//headers 
h1 {
   font-size: 48px;
   font-weight: 700;
   line-height: 58px;
   margin-block-end: 0px;
   margin-block-start: 0px;
   margin: 0;
}

h2 {
   font-size: 36px;
   font-weight: 700;
   line-height: 43px;
   margin-block-end: 0px;
   margin-block-start: 0px;
}

h3 {
   font-size: 27px;
   font-weight: 700;
   line-height: 32px;
   margin-block-end: 0px;
   margin-block-start: 0px;
}



//list
ul {
   padding-inline-start: 0px;
   margin-block-start: 0;
   margin-block-end: 0;
   list-style: none;
}

//mixin
@import "_misc/media.scss";

//layout
@import "_misc/layout.scss";


//blocks
@import "_misc/overlay.scss";
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/why.scss";
@import "_misc/button.scss";
@import "blocks/feedback.scss";
@import "_misc/title.scss";
@import "_misc/form.scss";
@import "blocks/slider.scss";
@import "blocks/mapa.scss";