.header {
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: rem(90px);
    max-width: rem(942px);
    padding-top: rem(25px);
    z-index: 5;

    @include tablets {
        padding-left: rem(30px);
    }

    @include phones {
        max-width: 98%;
    }


}



.header__nav {
    display: flex;
    align-items: center;
    padding-left: rem(41px);
    z-index: 10;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.nav__item {
    min-width: rem(48px);
    min-height: rem(20px);
}

.width150 {
    min-width: rem(124px);
}

.header__phone {
    max-width: rem(124px);
    min-height: rem(39px);
    padding-top: rem(5px);

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.logo {
    @include tablets {
        padding-left: rem(30px);
    }

    @include phones {
        display: none;
    }
}