.header {
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    max-width: 942px;
    padding-top: 25px;
    z-index: 5;

    @include tablets {
    display: none;
}
    
}



.header__nav {
    display: flex;
    align-items: center;
    padding-left: 41px;
    z-index: 10;
}

.nav__item {
    min-width: 48px;
    min-height: 20px;
}

.width150 {
    min-width: 124px;
}

.header__phone {
    max-width: 124px;
    min-height: 39px;
    padding-top: 5px;
}