.hero {
    background-color: $blue;
    padding-left: 80px;
    margin: 0 auto;
}



.hero__content {
    max-width: 45%;
    color: #FFF;
    z-index: 555;
    text-align: start;
}

.hero__title {
    padding-bottom: 17px;
}

.hero__text {
    padding-bottom: 32px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}

.hero__button {
    padding-bottom: 64px;
    max-width: 156px;
}

.hero__chars {
    display: flex;
    list-style: none;
    gap: 0 8px;
    justify-content: space-between;

}

.chars__item {
    display: flex;
    min-width: 166px;
    align-items: flex-start;
}



















.hero__complete {
    position: absolute;
    right: -20px;
    bottom: -70px;
    z-index: 2;

}

.hero__tribeleaf {
    position: absolute;
    right: -40px;
    bottom: -25px;
    z-index: 1;
    min-height: 650px;
    display: block;
}

.hero__leaf-img {
    position: absolute;
    left: -53px;
    bottom: -75px;
}