.slider {}

.section {}

.slider {
    margin: 0;
    display: flex;
    min-height: 650px;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1100px;
    gap: 0 44px;
    padding-top: 50px;
    position: relative;

    @include tablets {
        flex-direction: column;
        max-width: 95%;
        margin: 0 auto;
    }

    @include phones {
        flex-direction: column;
        max-width: 95%;
    }
}

.product-img__container {
    width: rem(545px);
    height: rem(470px);
    padding-top: rem(98px);
    padding-left: rem(26px);

    @include tablets {
        max-width: 99%;
        max-height: 80%;
        display: flex;
        align-items: center;
        padding: 0px 0px;

    }

    @include phones {
        max-width: 99%;
        max-height: 80%;
        display: flex;
        align-items: center;
        padding: 0px 0px;
    }

}

.img__wrapper {

    @include tablets {
        margin: 0 auto;
    }
}

.product__img {
    @include tablets {

        max-width: 96.8%;
        max-height: 90%;
    }
}

.slider__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.composition__wrapper {
    // padding-top: rem(67px);
    fill: black;
    background: transparent;
    position: absolute;
    width: rem(100px);
    height: rem(140px);

    @include tablets {
        visibility: hidden;
        display: none;
    }

    @include phones {
        visibility: hidden;
    }

}



.composition-icon {
    width: rem(91px);
    height: rem(91px);
    fill: black;
    background: #60AACC;
}

.slider__header {
    text-align: left;
    padding-top: rem(150px);

    @include tablets {
        padding-top: 0px;
        text-align: center;
        align-self: center;
    }

    @include phones {
        text-align: center;
        align-self: center;
    }
}

.slider__text {
    padding-top: rem(23px);
    text-align: left;
    font-size: rem(16px);
    line-height: rem(24px);
    max-width: 368px;
    color: #666666;

    @include tablets {
        text-align: center;
        align-self: center;
    }

    @include phones {
        text-align: center;
        align-self: center;
    }
}

.slider-char__wrapper {
    display: flex;
    padding-top: 24px;
    gap: 0 25px;

    @include tablets {
        text-align: center;
        align-self: center;
    }

    @include phones {
        text-align: center;
        align-self: center;
    }

}

.slider__char {
    display: flex;
    flex-direction: column;
    max-width: 90px;
    max-height: 44px;
    text-align: left;
}

.bold {
    font-weight: 700;
    font-size: 16px;
}

.composition__list {
    position: absolute;
    background-color: none;
    left: 100px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.item-icon {
    width: rem(246px);
    max-height: rem(44px);
    align-self: center;
    display: flex;
}

.composition__wrapper:hover {
    cursor: pointer;

    .composition__list {
        visibility: visible;
        opacity: 100%;
    }
}



.slider__price-wrapper {
    display: flex;
    padding-top: rem(24px);
    align-items: center;

    @include tablets {
        text-align: center;
        align-self: center;
    }

    @include phones {
        text-align: center;
        align-self: center;
    }
}

.slider__price {
    min-width: rem(148px);
    font-size: rem(60px);
    font-weight: 400;
    padding-right: rem(35px);
    align-self: flex-start;
    display: flex;
}

.button__slider {
    background-color: #2E4E3F;
    color: #fff;
    border-radius: 35px;
    text-decoration: none;
    text-underline-offset: none;
}

.arrow__wrapper {
    width: 30px;
    height: 40px;
}

.arrow__left {

    position: absolute;
    top: 50%;

    @include tablets {
        top: 35%;
    }
}

.arrow__right {

    position: absolute;
    top: 50%;
    left: 98%;

    @include tablets {
        top: 35%;
        left: 96%;
    }
}

.slider__item {
    display: flex;
    flex-direction: row;

    @include tablets {
        flex-direction: column;
    }

    @include phones {
        flex-direction: column;
    }
}