.button {
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: rgba(54, 90, 73, 1);
  padding: 18px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  transition: background-color .9s;
  text-transform: uppercase;
}

.button__reset {
  border-width: 0px;
  background-color: transparent;
  color: #2E4E3F;
  cursor: pointer;
}




.button:hover {
  background-color: #2E4E3F;
  color: #FFF;
  cursor: pointer;
}

.button--big {
  padding: 21px 41px;
}

.button--red {
  background-color: rgba(245, 23, 14, 1);
  color: #fff;
}